html, body {
    position:relative;
    min-height: 100vh;
}


.navbar-default {
    background-color: #E74C3C;
    color: #000;  
    border: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #3498DB;
}
.navbar-default .navbar-brand {
    color: #000;
    
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*
Podświetlenie navbaru
*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
    
}
/*
kolor linków
*/
.navbar-default .navbar-nav > li > a {
    color: #ECF0F1;
    text-align: center;
    font-size: 18px;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover
.navbar-default .navbar-nav > .active > a:focus {
    
    color: #FFF;
    background-color: #E74C3C;
    
}

/*
podświetlenie linków
*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2980B9;
    background-color: transparent;
}

.jumbotron {
    height: auto;
    margin: 0;
    text-align: center;
    background-color: #CFD3D4;
    padding: 15px;
    
}
.log {
display: inline-block; 
vertical-align: 25px;
    
}
.logtext {
display: inline-block; 

}
.slider {
    margin: -20px 0px -30px 0px;
    width: 100%;
}
.slidimg {
     width: 100%;
    max-height: 500px;
}


